{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/do_order.css">
    <link rel="stylesheet" href="__MODULE_CSS__/remodal.css">
    <link rel="stylesheet" href="__MODULE_CSS__/remodal-default-theme.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">
            <header class="navbar">
                <div class="nav-wrap nav-wrap-left">
                    <a class="react" rel="nofollow" href="">
                        <span class="nav-btn">
                            <i class="icon icon-home"></i>
                        </span>
                    </a>
                </div>
                <div class="nav-wrap-title">服务</div>
                <div class="nav-wrap nav-wrap-right">
                    <a class="react" rel="nofollow" href="">
                        <span class="nav-btn">
                            <i class="icon icon-home"></i>
                        </span>
                    </a>
                    <a class="react" rel="nofollow" href="">
                        <span class="nav-btn">
                            <i class="icon icon-home"></i>
                        </span>
                    </a>
                </div>
            </header>
            <div class="header-box"></div>

            <div class="content banner">
                <div class="swiper-container" data-autoplay="5000">
                    <div class="swiper-wrapper">
                        {volist name="slider" id="vo"}
                            <div class="swiper-slide"><img width="100%" src="{:get_file_path($vo)}" alt=""></div>
                        {/volist}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div id="service">
                <div class="service-box">
                    <div class="base">
                        <div class="base-top">
                            <p class="name">{$business.name}</p>
                            <span class="stars">
                                {for start="0" end="intval($business['score'])"}
                                    <i class="my-icon icon-star"></i>
                                {/for}
                                {if $business['score']>intval($business['score'])}
                                    <i class="my-icon icon-star icon-star-gray">
                                        <i class="my-icon icon-star icon-star-half"></i>
                                    </i>
                                {/if}
                                <em class="star-text">{$business.score}</em>
                            </span>
                            <div class="line"></div>
                            <p class="addr-box pr">
                                <i class="icon icon-home addr-icon"></i>
                                <span class="addr" lng="{$business.lng}" lat="{$business.lat}">{$business.address}</span>
                                <span class="tel"><a href="tel:{$business.tel}"><i class="icon icon-home"></i></a></span>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="project order-box">
                            <div class="order-box-title">预约项目</div>
                            <div class="project-list">
                                <ul>
                                    <template v-for="item in service">
                                        <li :class="item.id == current_type ? 'on' : ''" @click="changeProject(item.id)">
                                            <img :src="item.icon" alt="">
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                        <div class="pet order-box">
                            <div class="order-box-title">宠物信息</div>
                            <div class="row pet-item">
                                <div class="col-20 pet-item-left class-title">
                                    <span>宠物</span>
                                </div>
                                <div class="col-80 class-list">
                                    <ul>
                                        <template v-for="item in service[current_type].pets">
                                            <li :class="item.id == current_pet ? 'on' : ''" @click="changePet(item.id)">
                                                <img :src="item.icon" alt="">
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pet-item">
                                <div class="col-20 pet-item-left">
                                    <span>品种</span>
                                </div>
                                <div class="col-80 breed-right">
                                    <input type="text" :value="getBreedName">
                                    <button @click="showBreed">选择</button>
                                </div>
                            </div>
                            <div class="row pet-item">
                                <div class="col-20 pet-item-left">
                                    <span>年龄</span>
                                </div>
                                <div class="col-80 breed-right">
                                    <ul>
                                        <template v-for="(item, index) in ages">
                                            <li @click="chooseAge(index)" :class="current_age == index ? 'on' : ''">{{item}}</li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="time order-box">
                            <div class="order-box-title">预约时间</div>
                            <div class="date-list">
                                <ul>
                                    <template v-for="(item, index) in service[current_type].times">
                                        <li @click="chooseDate(index)" :class="item.info.date == current_date ? 'on' : ''">{{item.info.name}}</li>
                                    </template>
                                </ul>
                            </div>
                            <div class="row time-item">
                                <div class="col-20 time-left">
                                    <span>上午</span>
                                </div>
                                <div class="col-80 time-right">
                                    <ul>
                                        <template v-for="item in service[current_type].times[current_date].forenoon">
                                            <li @click="chooseTime(item.id, item.name, $event)" :class="item.status==0 ? 'off' : ''">{{item.name}}</li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                            <div class="row time-item">
                                <div class="col-20 time-left">
                                    <span>下午</span>
                                </div>
                                <div class="col-80 time-right">
                                    <ul>
                                        <template v-for="item in service[current_type].times[current_date].afternoon">
                                            <li @click="chooseTime(item.id, item.name, $event)" :class="item.status==0 ? 'off' : ''">{{item.name}}</li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                            <div class="row time-item">
                                <div class="col-20 time-left">
                                    <span>晚上</span>
                                </div>
                                <div class="col-80 time-right">
                                    <ul>
                                        <template v-for="item in service[current_type].times[current_date].night">
                                            <li @click="chooseTime(item.id, item.name, $event)" :class="item.status==0 ? 'off' : ''">{{item.name}}</li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                            <p class="time-tip">温馨提示：您预约服务的时间。棕色为可预约时间。灰色为不可预约时间</p>
                        </div>
                        <div class="doctor order-box" v-if="service[current_type].doctors">
                            <div class="order-box-title">预约医生</div>
                            <div class="list-block media-list">
                                <ul>
                                    <template v-for="item in service[current_type].doctors">
                                        <li @click="chooseDoctor(item.id)">
                                            <label class="label-checkbox item-content">
                                                <input type="radio" name="doctor">
                                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                                <img class="avatar" :src="item.avatar" alt="">
                                                <div class="doctor-box">
                                                    <div class="doctor-box-top">
                                                        <div class="doctor-box-title"><span class="name">{{item.name}}</span><span class="position">{{item.position}}</span><!-- <span class="auth">已认证</span> --></div>
                                                        <div class="doctor-num">{{item.score}}</div>
                                                    </div>
                                                    <div class="doctor-subtitle">{{item.intro}}</div>
                                                    <div class="doctor-text">主修：{{item.major}}</div>
                                                </div>
                                            </label>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <!-- <p class="more">查看更多 >></p> -->
                        </div>
                        <div class="addr order-box">
                            <div class="order-box-title">您的地址<span @click="addAddress">新增地址 +</span></div>
                            <div class="list-block media-list addr-list">
                                <ul>
                                    <template v-for="item in address">
                                        <li @click="chooseAddress(item.id)">
                                            <label class="label-checkbox item-content">
                                                <input type="radio" name="address">
                                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                                <div class="address">{{item.address}} {{item.street}} {{item.name}} {{item.mobile}}</div>
                                            </label>
                                        </li>
                                    </template>
                                </ul>
                                <p v-if="address.length == 0 ? true : false">暂无地址</p>
                            </div>
                            <div class="order-box-title pay-title">支付方式</div>
                            <div class="list-block media-list pay-list">
                                <ul>
                                    <li @click="choosePayment(1)">
                                        <label class="label-checkbox item-content">
                                            <input type="radio" name="payment">
                                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                            <div class="address"><i class="icon icon-home"></i>微信支付</div>
                                        </label>
                                    </li>
                                    <li @click="choosePayment(2)">
                                        <label class="label-checkbox item-content">
                                            <input type="radio" name="payment">
                                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                            <div class="address"><i class="icon icon-home"></i>支付宝支付</div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="other order-box">
                            <div class="list-block">
                                <ul>
                                    <li class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">优惠券</div>
                                            <div class="item-after" v-if="isEmptyObject(service[current_type].coupons)">无可用优惠券</div>
                                            <div class="item-after" @click="showCoupon" v-else>
                                                <template v-if="current_coupon">
                                                    {{getCouponName}}
                                                </template>
                                                <template v-else>
                                                    有可用优惠券
                                                </template>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">虚拟币</div>
                                            <div class="item-after" @click="showScore" v-if="current_score">使用{{current_score}}个虚拟币</div>
                                            <div class="item-after" @click="showScore" v-else>共{{member.score}}个虚拟币</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <p class="remark"><span>备注：</span><input v-on:blur="doRemark" type="text" name="remark" placeholder="可写下您的需求" /></p>
                            <form id="service-form">
                                <div class="selected">
                                    <ul>
                                        <li v-if="current_type ? true : false">{{ getTypeName }}<input type="hidden" name="service_id" :value="current_type"></li>
                                        <li v-if="current_pet ? true : false">{{ getPetName }}<input type="hidden" name="pet_id" :value="current_pet"></li>
                                        <li v-if="current_breed ? true : false">{{ getBreedName }}<input type="hidden" name="breed_id" :value="current_breed"></li>
                                        <li v-if="current_doctor ? true : false">{{ getDoctorName }}<input type="hidden" name="doctor_id" :value="current_doctor"></li>
                                        <li v-if="current_age ? true : false">{{ getAgeName }}<input type="hidden" name="age_id" :value="current_age"></li>
                                        <li v-if="current_time ? true : false">{{ current_time_name }}<input type="hidden" name="time_id" :value="current_time"></li>
                                    </ul>
                                </div>
                                <input type="hidden" name="date" :value="current_date">
                                <input type="hidden" name="address_id" :value="current_address">
                                <input type="hidden" name="coupon_id" :value="current_coupon">
                                <input type="hidden" name="score" :value="current_score">
                                <input type="hidden" name="remark" :value="remark">
                                <input type="hidden" name="payment" :value="payment">
                                <input type="hidden" name="business_id" value="{$id}">
                            </form>
                            <div class="affirm">
                                <span class="price">￥<i>{{getPrice}}</i></span><span class="coupon">已优惠{{getCouponPrice}}元</span><button @click="doOrder">立即预约</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
                    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
                    <div class="list-block pets">
                        <ul>
                            <template v-for="item in breeds">
                                <li @click="chooseBreed(item.id)">
                                    <label class="label-checkbox item-content">
                                        <input type="radio" name="breed" :value="item.id">
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <img :src="item.icon" alt="">
                                        <p class="pets-name">{{item.name}}</p>
                                    </label>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <a class="submit" @click="hideBreed">确定</a>
                    <div class="pet-img"><p><img :src="pet_icon" alt=""></p></div>
                </div>
                
                <div style="height:60%;" class="remodal" data-remodal-id="modal2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
                    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
                    <div class="list-block pets">
                        <ul>
                            <template v-for="item in service[current_type].coupons">
                                <li @click="chooseCoupon(item.id)" style="margin:0;">
                                    <label class="label-checkbox item-content">
                                        <input type="radio" name="coupon">
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <p class="pets-name" style="padding-left:.5rem;">{{item.title}}</p>
                                    </label>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <a class="submit" @click="hideCoupon">确定</a>
                </div>

                <div style="height:30%;" class="remodal" data-remodal-id="modal3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
                    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
                    <div class="add-addr">
                        <div class="list-block address-box">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">积分</div>
                                            <div class="item-input">
                                                <input type="text" name="score">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a class="submit" @click="submitScore">确定</a>
                    </div>
                </div>

                <div class="remodal" data-remodal-id="modal1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
                    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
                    <div class="add-addr">
                        <div class="list-block address-box">
                            <input type="hidden" name="province" value="广西">
                            <p class="addr-title">新增地址</p>
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">姓名</div>
                                            <div class="item-input">
                                                <input type="text" name="name">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">性别</div>
                                            <div class="item-input">
                                                <select name="sex" class="sex">
                                                    <option value="1">男</option>
                                                    <option value="2">女</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">电话</div>
                                            <div class="item-input">
                                                <input type="text" name="mobile">
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">地址</div>
                                            <div class="item-input">
                                                <input type="text" name="city" value="南宁市" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label"></div>
                                            <div class="item-input">
                                                <select name="district" class="district">
                                                    <option value="青秀区">青秀区</option>
                                                    <option value="江南区">江南区</option>
                                                    <option value="兴宁区">兴宁区</option>
                                                    <option value="邕宁区">邕宁区</option>
                                                    <option value="五象新区">五象新区</option>
                                                    <option value="西乡塘区">西乡塘区</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label"></div>
                                            <div class="item-input">
                                                <input type="text" name="street" placeholder="详细地址">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- <input type="text" id='city-picker' value="浙江 杭州 拱墅区" /> -->
                        </div>
                        <a class="submit" @click="submitAddress">确定</a>
                    </div>
                </div>
            </div>

            <nav class="bar bar-tab">
                <a class="tab-item active" href="#">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">萌宠圈</span>
                </a>
                <a class="tab-item" href="#">
                    <span class="icon icon-me"></span>
                    <span class="tab-label">服务</span>
                    <!-- <span class="badge">2</span> -->
                </a>
                <a class="tab-item" href="#">
                    <span class="icon icon-star"></span>
                    <span class="tab-label">遛狗</span>
                </a>
                <a class="tab-item" href="#">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">我的</span>
                </a>
            </nav>

        </div>
    </div>
{/block}

{block name="script"}
    <script>
        //初始化
        $.init()

        var service = new Vue({
            el: '#service', 
            data: {
                current_type: {$current_type}, //当前服务类型id
                current_date: {:date("Ymd", time())}, //当前日期
                current_time: '', //当前时间段
                current_time_name: '', //当前时间段名称
                current_age: '', //当前宠物年龄id
                current_pet: '', //当前宠物类型id
                current_breed: '', //当前宠物品种id
                current_doctor: '', //当前医生id
                current_address: '', //当前地址id
                current_coupon: '',
                current_score: '',
                remark: '',
                payment: '',
                pet_icon: '',
                breeds: {},
                ages: {:json_encode(config("pet_age"))},
                member: {$member},
                address: {$address},
                service: {$service},
            },
            computed: {
                getTypeName: function () {
                    return this.service[this.current_type].name;
                },
                getPetName: function () {
                    if(this.current_pet){
                        return this.service[this.current_type].pets[this.current_pet].name;
                    }
                },
                getBreedName: function () {
                    if(this.current_breed){
                        return this.service[this.current_type].pets[this.current_pet].breeds[this.current_breed].name;
                    }
                },
                getDoctorName: function () {
                    if(this.current_doctor){
                        return this.service[this.current_type].doctors[this.current_doctor].name;
                    }
                },
                getAgeName: function () {
                    if(this.current_age){
                        return this.ages[this.current_age];
                    }
                },
                getCouponName: function () {
                    if(this.current_coupon){
                        return this.service[this.current_type].coupons[this.current_coupon].title;
                    }
                },
                getPrice: function(){
                    var price = this.service[this.current_type].price;
                    if(this.current_coupon){
                        price = Number(price) - Number(this.service[this.current_type].coupons[this.current_coupon].amount)
                    }
                    if(this.current_score){
                        price = Number(price) - Number(this.current_score)
                    }
                    return price;
                },
                getCouponPrice: function(){
                    var price = 0;
                    if(this.current_coupon){
                        price = Number(price) + Number(this.service[this.current_type].coupons[this.current_coupon].amount)
                    }
                    if(this.current_score){
                        price = Number(price) + Number(this.current_score)
                    }
                    return price;
                },
            },
            methods: {
                changeProject: function(id){
                    this.current_type = id;
                    this.current_pet = 0;
                    this.current_breed = 0;
                    this.breeds = {};
                },
                changePet: function(id){
                    this.current_pet = id;
                    this.pet_icon = this.service[this.current_type].pets[this.current_pet].pet_icon;
                    this.breeds = this.service[this.current_type].pets[this.current_pet].breeds;
                },
                showBreed: function(){
                    if(JSON.stringify(this.breeds) == "{}"){
                        alert("请先选择宠物");
                        return false;
                    }
                    var inst = $('[data-remodal-id=modal]').remodal();
                    inst.open();
                },
                chooseBreed: function(id){
                    this.current_breed = id;
                },
                hideBreed: function(){
                    var inst = $('[data-remodal-id=modal]').remodal();
                    inst.close();
                },
                chooseDoctor: function(id){
                    this.current_doctor = id;
                },
                chooseTime: function(id, name, event){
                    if($(event.target).hasClass("off")){
                        alert("该时间段不可选");
                        return false;
                    }
                    this.current_time = id;
                    this.current_time_name = name;
                    $(".time-item ul li").removeClass("on");
                    $(event.target).addClass("on");
                },
                chooseDate: function(id){
                    this.current_date = id;
                },
                chooseAge: function(id){
                    this.current_age = id;
                },
                chooseAddress: function(id){
                    this.current_address = id;
                },
                addAddress: function(){
                    var inst = $('[data-remodal-id=modal1]').remodal();
                    inst.open();
                },
                choosePayment: function(id){
                    this.payment = id;
                },
                isEmptyObject: function(e){
                    var t;  
                    for (t in e)  
                        return !1;  
                    return !0 
                },
                showCoupon: function(){
                    var inst = $('[data-remodal-id=modal2]').remodal();
                    inst.open();
                },
                chooseCoupon: function(id){
                    this.current_coupon = id;
                },
                hideCoupon: function(){
                    var inst = $('[data-remodal-id=modal2]').remodal();
                    inst.close();
                },
                showScore: function(){
                    if(this.member.score){
                        var inst = $('[data-remodal-id=modal3]').remodal();
                        inst.open();
                    }else{
                        alert("您没有可用的积分");
                    }
                },
                submitScore: function(){
                    var score = $(".address-box input[name='score']").val();
                    if(this.member.score<score){
                        alert("可用积分不足")
                    }else{
                        this.current_score = score;
                        var inst = $('[data-remodal-id=modal3]').remodal();
                        inst.close();
                    }
                },
                doRemark: function(){
                    this.remark = $("input[name='remark']").val();
                },
                submitAddress: function(){
                    var name = $(".address-box input[name='name']").val();
                    var sex = $(".address-box .sex").val();
                    var mobile = $(".address-box input[name='mobile']").val();
                    var province = $(".address-box input[name='province']").val();
                    var city = $(".address-box input[name='city']").val();
                    var district = $(".address-box .district").val();
                    var street = $(".address-box input[name='street']").val();

                    if(!name || !sex || !mobile || !province || !city || !district){
                        alert("必填参数不能为空");
                        return false;
                    }
                    var address = province+' '+city+' '+district;

                    // 显示loading
                    $.showIndicator();
                    // ajax获取信息
                    $.post("{:url('business/ajaxAddAddress')}", { name: name, sex: sex, mobile: mobile, address: address, street: street },function(data){
                        // 隐藏loading
                        $.hideIndicator();
                        if(data.code==1){
                            service.address = data.info;
                            var inst = $('[data-remodal-id=modal1]').remodal();
                            inst.close();
                        }else{
                            alert(data.code)
                        }
                    },'json');
                },
                doOrder: function(){
                    var data = $("#service-form").serialize();
                    // 显示loading
                    $.showIndicator();
                    // ajax获取信息
                    $.ajax( {
                        type : "POST",
                        url : "{:url('business/ajaxDoOrder')}",
                        data : data,
                        dataType: "json",
                        success : function(data) {
                            // 隐藏loading
                            $.hideIndicator();
                            if(data.code){
                                //成功后支付 todo
                            }else{
                                alert(data.info)
                            }
                        }
                    });
                },
            }
        })

        $(function(){
            //底部导航默认选中
            $(".bar-tab .tab-item").eq(1).trigger("click");
        })
    </script>
{/block}
