{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/service.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <header class="navbar">
                <div class="nav-wrap nav-wrap-left">
                    <a class="react my-location" rel="nofollow" href="">
                        <span class="nav-btn">
                            <i class="icon my-icon-location1"></i>
                            <span>南宁市</span>
                        </span>
                    </a>
                </div>
                <div class="box-search">
                    <a class="react" href="">
                        <i class="icon icon-search j-search"></i>
                        <form action="javascript:return true;"><input type="search" class="single-line keyword" placeholder="大家都在搜：宠物洗护"></form>
                    </a>
                </div>
            </header>
            <div class="header-box"></div>


            <div class="content banner">
                <div class="swiper-container" data-autoplay="5000">
                    <div class="swiper-wrapper">
                        {volist name="slider" id="vo"}
                            <div class="swiper-slide"><img width="100%" src="{:get_file_path($vo['cover'])}" alt=""></div>
                        {/volist}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <!-- 添加 class infinite-scroll 和 data-distance -->
            <div class="scroll-box">
                <div class="content infinite-scroll" data-distance="0">
                    <div class="list-block content-list" id="business">
                        <ul class="list-container">
                            <template v-for="item in items">
                                <a style="display:block;" :href="item.url" external>
                                    <li>
                                        <img :src="item.thumb" alt="">
                                        <div class="item-box">
                                            <div class="item-title">{{item.name}}</div>
                                            <span class="distance">{{item.distance}}km</span>
                                            <div>
                                                <span class="stars">
                                                    <i class="my-icon my-icon-star1" v-for="n in parseInt(item.score)"></i><i class="my-icon my-icon-star1 icon-star-gray" v-if="item.score > parseInt(item.score)"><i class="my-icon my-icon-star1 icon-star-half"></i></i><em class="star-text">{{item.score}}</em>
                                                </span>
                                            </div>
                                            <div class="coupon" v-if="item.coupon"><i class="icon my-icon-coupon"></i><span>{{item.coupon}}</span></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </a>
                            </template>
                        </ul>
                        <p class="no-more" v-if="noMore==1 ? true : false">没有更多信息</p>
                    </div>
                </div>
            </div>

            {include file="public/nav" /}

        </div>
    </div>
{/block}

{block name="script"}
    <script>
        // 循环商家列表
        var business = new Vue({
            el: '#business', 
            data: {
                page: 1,
                items: {$business},
                noMore: 0,
            },
            methods: {
                concatData: function(data){
                    console.log(this.items)
                    this.items = this.items.concat(data);
                    this.page++;
                }
            }
        })

        // 注入JSSDK配置参数，默认开启所有接口权限
        wx.config({$options});

        {if $location==0}
            wx.ready(function () {
                updateLocation();
            });
        {/if}

        updateLocation = function(){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var convertor = new BMap.Convertor();
                    var pointArr = [];
                    pointArr.push(new BMap.Point(res.longitude,res.latitude));
                    convertor.translate(pointArr, 1, 5, translateCallback)
                }
            });
        };
        translateCallback = function (data){
            if(data.status === 0) {
                $.post("{:url('index/ajaxUpdateLocation')}", { lng:data.points[0].lng, lat:data.points[0].lat}, function(data){
                    if(data==1){
                        location.reload();
                    }
                });
            } 
        }

        $('form').on('submit', function(e){
            document.activeElement.blur();
            var keyword = $(".keyword").val();
            if(keyword){
                // 显示loading
                $.showIndicator();
                // ajax获取信息
                $.get("{:url('business/ajaxSearchKeyword')}", { keyword: keyword },function(data){
                    // 隐藏loading
                    $.hideIndicator();
                    if(data==1){
                        // alert("没有符合的信息...")
                        $.toast("没有符合的信息...");
                    }else{
                        // alert("搜索完成...")
                        $.toast("搜索完成...");
                        business.items = data;
                    }
                }, 'json');
            }else{
                location.reload();
            }
            return false;
        });

        $(document).on('click', '.my-location',function() {
            updateLocation();
        });

        /*$(document).on('click', '.j-search',function() {
            var keyword = $(".keyword").val();
            if(keyword){
                // 显示loading
                $.showIndicator();
                // ajax获取信息
                $.get("{:url('business/ajaxSearchKeyword')}", { keyword: keyword },function(data){
                    // 隐藏loading
                    $.hideIndicator();
                    if(data==1){
                        $.toast("没有符合的信息...");
                    }else{
                        business.items = $.parseJSON( data );
                    }
                });
            }else{
                location.reload();
            }
        });*/

        // 监听向上滑动事件，获取更多商家列表
        $(document).on('infinite', '.infinite-scroll',function() {
            // ajax获取信息
            $.get("{:url('business/ajaxGetBusinessList')}", { page: business.page },function(data){
                if(data==1){
                    business.noMore = 1;
                }else{
                    business.concatData(data);
                }
            });
        });
    </script>
{/block}