{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/order_show.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <header class="bar bar-nav bn" id="nav-top">
                <button class="button button-link button-nav pull-left">
                    <span class="icon icon-left"></span> 订单详情
                </button>
            </header>
            
            <div class="order-show">
                <img width="100%" src="__MODULE_IMG__/img5.jpg" alt="">
                <div class="order-show-box pr">
                    <p>订单编号：20170510252365236</p>
                    <p>项目：宠物洗澡</p>
                    <p>类型：狗狗</p>
                    <p>品种：哈士奇</p>
                    <p>年龄：大于6个月</p>
                    <p>商家地址：东葛葛村路口东葛葛村路口东葛葛村路口东葛葛村路口</p>
                    <span class="icon icon-home pa tel"></span>
                </div>
                <div class="order-show-box pr">
                    <p>预约时间：2017-04-10 19：00-20：00</p>
                    <p>预约医生：陈医生</p>
                </div>
                <div class="order-show-box pr">
                    <p>支付方式：微信支付</p>
                    <p>优惠券：10元优惠券</p>
                    <p>虚拟币：0</p>
                    <p>备注：商家地址：东葛葛村路口东葛葛村路口东葛葛村路口东葛葛村路口</p>
                </div>
            </div>
            <div class="order-footer">
                <p>应付：<span>￥<i>49.9</i></span></p>
                <div class="order-footer-button">
                    <span class="payment">立即付款</span>
                    <span class="cancel_order">取消订单</span>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="script"}
    <script>

    </script>
{/block}