{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/gold.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <header class="navbar">
                <div class="nav-wrap nav-wrap-left">
                    <a class="react" rel="nofollow" href="javascript:history.go(-1);" external style="display:block;">
                        <span class="nav-btn">
                            <i class="icon icon-left"></i>
                        </span>
                    </a>
                </div>
                <div class="nav-wrap-title">我的账户</div>
                <div class="nav-wrap nav-wrap-right"><a class="react"></a></div>
            </header>
            
            <div class="account">
                <div class="account-box">
                    <div class="account-top">
                        <img src="{if $member['avatar']}{:get_file_path($member.avatar)}{else}__MODULE_IMG__/img1.jpg{/if}" alt="">
                        <div class="info">
                            <p class="p1"><span class="name">{$member.nickname}</span><!-- <span class="level"><i class="icon icon-home"></i></span> --></p>
                            <p class="desc">今天获得：{$score}个金币</p>
                            <!-- <button>我要兑换</button> -->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="account-gold">
                        <div class="gold-box">
                            <div class="my-gold">
                                <span>{$member.score}</span>
                            </div>
                            <div class="get-gold" {if !$qiandao}onclick="getGold(2)"{/if}>
                                <i class="icon my-icon-gold" style="font-size:1rem;"></i>
                                <span>{if $qiandao}今天已签到{else}签到领金币{/if}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work">
                    <div class="list-block">
                        <ul>
                            {volist name="tasks" id="vo"}
                                <li class="item-content">
                                    <div class="item-media"><i class="icon {$vo.icon}" style="font-size:1.2rem;"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">{$vo.title}</div>
                                        <div class="item-after" onclick="getGold({$vo.id})">领取{$vo.amount}金币</div>
                                    </div>
                                </li>
                            {/volist}
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
{/block}

{block name="script"}
    <script>
        function getGold(task_id){
            // 显示loading
            $.showIndicator();
            // ajax获取信息
            $.get("{:url('ucenter/ajaxGetScore')}", { task_id: task_id },function(data){
                // 隐藏loading
                $.hideIndicator();
                alert(data.info)
                if(data.code==1){
                    location.reload();
                }
            },'json');
        }
    </script>
{/block}