{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/commented.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <header class="bar bar-nav bn" id="nav-top">
                <a href="javascript:history.go(-1);" external style="display:block;">
                    <button class="button button-link button-nav pull-left">
                        <span class="icon icon-left"></span> 返回
                    </button>
                </a>
            </header>
            
            <div class="refund-show">
                <img width="100%" src="__MODULE_IMG__/comment.jpg" alt="">
                <div class="refund-box pr">
                    <p>商家总体评分：<span class="number"><i>{$evaluate.business_rate}</i>分</span></p>
                    {if $evaluate['doctor_rate']}
                        <p>医生总体评分：<span class="number"><i>{$evaluate.doctor_rate}</i>分</span></p>
                    {/if}
                    <p>评价内容：<span class="comment-content">{$evaluate.evaluate}</span></p>
                </div>
            </div>
        </div>
    </div>
{/block}