{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/ucenter.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <header class="navbar">
                <div class="nav-wrap nav-wrap-left">
                    <a class="react" rel="nofollow" href="">
                        <span class="nav-btn">
                            <i class="icon my-icon-news"></i>
                        </span>
                    </a>
                </div>
                <div class="nav-wrap-title">我的</div>
                <div class="nav-wrap nav-wrap-right">
                    <a class="react" rel="nofollow">
                        <span class="nav-btn">
                            <i class="icon my-icon-system"></i>
                        </span>
                    </a>
                </div>
            </header>
            <div class="header-box"></div>

            <div class="my-info">
                <div class="info-box">
                    <img class="avatar" src="{:get_file_path($member['avatar'])}" alt="">
                    <div class="info">
                        <p class="p1"><span class="name">{$member.nickname}</span><!-- <span class="level"><i class="icon icon-home"></i></span> --></p>
                        <p class="desc">{$member.intro}</p>
                    </div>
                </div>
            </div>
            
            <div class="u-box pr">
                <div class="list-block my-roder">
                    <ul>
                        <a href="{:url('ucenter/order')}" class="item-a" external>
                            <li class="item-content item-link">
                                <div class="item-media"><i class="icon my-icon-list" style="color:#767676;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">我的订单</div>
                                    <div class="item-after">查看全部订单</div>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="u-box pr">
                <div class="content-padded grid-demo">
                    <div class="row order-type">
                        <div class="col-33">
                            <a class="tab-item" href="{:url('ucenter/order', array('type'=>1))}" external>
                                <span class="icon my-icon-needpay"></span>
                                <span class="tab-label">待付款</span>
                                <!-- <span class="badge">2</span> -->
                            </a>
                        </div>
                        <div class="col-33">
                            <a class="tab-item" href="{:url('ucenter/order', array('type'=>2))}" external>
                                <span class="icon my-icon-payed"></span>
                                <span class="tab-label">已付款</span>
                                <!-- <span class="badge">2</span> -->
                            </a>
                        </div>
                        <div class="col-33">
                            <a class="tab-item" href="{:url('ucenter/order', array('type'=>3))}" external>
                                <span class="icon my-icon-evaluate"></span>
                                <span class="tab-label">待评价</span>
                                <!-- <span class="badge">2</span> -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="u-box pr" style="margin-top:.5rem;">
                <div class="list-block" style="margin:0;">
                    <ul>
                        <a href="{:url('ucenter/account')}" class="item-a" external>
                            <li class="item-content item-link">
                                <div class="item-media"><i class="icon my-icon-account" style="color:#767676;font-size:1.2rem;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">我的账户</div>
                                    <!-- <div class="item-after">杜蕾斯</div> -->
                                </div>

                            </li>
                        </a>
                        <a href="{:url('ucenter/collect')}" class="item-a" external>
                            <li class="item-content item-link">
                                <div class="item-media"><i class="icon my-icon-star2" style="color:#767676;font-size:1.2rem;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">我的收藏</div>
                                    <!-- <div class="item-after">杜蕾斯</div> -->
                                </div>
                            </li>
                        </a>
                        <a href="{:url('ucenter/address')}" class="item-a" external>
                            <li class="item-content item-link">
                                <div class="item-media"><i class="icon my-icon-location" style="color:#767676;font-size:1.2rem;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">地址管理</div>
                                    <!-- <div class="item-after">杜蕾斯</div> -->
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="footer-box"></div>
            {include file="public/nav" /}

        </div>
    </div>
{/block}