{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/payment.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">
            
            <header class="bar bar-nav bn" id="nav-top">
                <a href="javascript:history.go(-1);" external style="display:block;">
                    <button class="button button-link button-nav pull-left">
                        <span class="icon icon-left"></span> 返回
                    </button>
                </a>
            </header>
            
            <div class="payment-show">
                <img width="100%" src="__MODULE_IMG__/img6.jpg" alt="">
                <div class="payment-box pr">
                    <p>订单编号：{$order.order_no}</p>
                    <p>订单金额：<span>￥<i>{$order.price}</i></span></p>
                    <p>商家地址：{$business.address}</p>
                </div>
            </div>
            <div class="list-block payment-list" id="payment">
                <div class="payment-list-title">支付方式</div>
                <ul>
                    <li @click="changePayment(1)">
                        <label class="label-checkbox item-content">
                            <input type="radio" value="1" checked>
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-inner">
                                <i class="icon my-icon-wepay"></i>
                                <span>微信支付</span>
                            </div>
                        </label>
                    </li>
                    <!-- <li @click="changePayment(2)">
                        <label class="label-checkbox item-content">
                            <input type="radio" value="2">
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-inner">
                                <i class="icon my-icon-alipay"></i>
                                <span>支付宝支付</span>
                            </div>
                        </label>
                    </li> -->
                </ul>
                <p class="payment-submit" @click="submitPayment"><a class="button button-fill" external>立即支付</a></p>
            </div>
        </div>
    </div>
{/block}

{block name="script"}
    <script>
        var payment = new Vue({
            el: '#payment',
            data: {
                order_id: "{$order.id}",
                // pay_type: 1,
            },
            methods: {
                changePayment: function(id){
                    this.pay_type = id;
                },
                submitPayment: function(){
                    /*if(this.pay_type == 0){
                        alert("请选择支付方式");
                        return false;
                    }*/
                    window.location.href = "{:url('business/wxpay', array('order_no'=>$order['order_no']))}";
                }
            },
        });
    </script>
{/block}
