{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/refund.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <header class="bar bar-nav bn" id="nav-top">
                <a href="javascript:history.go(-1);" external style="display:block;">
                    <button class="button button-link button-nav pull-left">
                        <span class="icon icon-left"></span> 返回
                    </button>
                </a>
            </header>
            
            <div class="order-content">
                <div class="list-item">
                    <div class="list-item-top">
                        <span>订单编号：{$order.order_no}</span>
                    </div>
                    <div class="list-item-content">
                        <img src="{$order.thumb}" alt="">
                        <div class="list-item-content-right">
                            <p>项目：{$order.type}</p>
                            <p>类型：{$order.pet}</p>
                            <p>品种：{$order.breed}</p>
                            <p>年龄：{$order.age}</p>
                        </div>
                        <div class="price">应退款：<span>{$order.price}</span></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="refund-content">
                    <p>退款原因：</p>
                    <textarea class="refund-reason"></textarea>
                </div>

                <p class="refund-submit"><a href="#" class="button button-fill">提交申请</a></p>
            </div>

        </div>
    </div>
{/block}

{block name="script"}
    <script>
        $(function(){
            $(".refund-submit").click(function(){
                var id = "{$order.id}";
                var reason = $(".refund-reason").val();
                if(!reason){
                    alert("请填写退款原因");
                    return false;
                }
                // 显示loading
                $.showIndicator();
                // ajax获取信息
                $.get("{:url('ucenter/ajaxRefundOrder')}", { id: id, reason: reason },function(data){
                    // 隐藏loading
                    $.hideIndicator();
                    if(data.code==1){
                        alert(data.info)
                        location.reload();
                    }else{
                        alert(data.info)
                    }
                },'json');
            })
        })
    </script>
{/block}