{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/webuploader.css">
    <link rel="stylesheet" href="__MODULE_CSS__/forum.css">
    <link rel="stylesheet" href="__MODULE_CSS__/layim.css">
    <link rel="stylesheet" href="__MODULE_CSS__/im.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">
            <header class="navbar">
                <div class="nav-wrap nav-wrap-left">
                    <a class="react" rel="nofollow" href="javascript:history.go(-1);" external>
                        <span class="nav-btn">
                            <i class="icon icon-left"></i>
                        </span>
                    </a>
                </div>
                <div class="nav-wrap-title">{$member.nickname}</div>
                <div class="nav-wrap nav-wrap-right">
                    <a class="react" rel="nofollow" href=""></a>
                </div>
            </header>
    
            <div id="im">
                <div class="layui-unselect layim-content">
                    <div class="layim-chat layim-chat-friend">
                        <div class="layim-chat-main">
                            <ul>
                                <template v-for="item in items">
                                    <li class="layim-chat-system" v-if="item.time_tip"><span>{{item.time_tip}}</span></li>
                                    <li class="layim-chat-li" :class="item.position==1?'':'layim-chat-mine'">
                                        <div class="layim-chat-user">
                                            <img :src="item.from_avatar">
                                            <cite>{{item.from_name}}</cite>
                                        </div>
                                        <!-- 普通消息 -->
                                        <div class="layim-chat-text" v-if="item.message" v-html="item.message"></div>
                                        <!-- 图片消息 -->
                                        <div class="layim-chat-text" v-if="item.image"><img :src="item.image" alt=""></div>
                                        <!-- 视频消息 -->
                                        <div class="layim-chat-text" v-if="item.video">
                                            <video :src="item.video" controls="controls" width="100%"></video>
                                        </div>
                                        <!-- 语音消息 -->
                                        <div class="layim-chat-text" v-if="item.audio">
                                            <p class="weixinAudio">
                                                <audio :src="item.audio" id="media" width="1" height="1" preload></audio>
                                                <span id="audio_area" class="db audio_area">
                                                    <span class="audio_wrp db">
                                                        <span class="audio_play_area">
                                                            <i class="icon_audio_default"></i>
                                                            <i class="icon_audio_playing"></i>
                                                        </span>
                                                        <span id="audio_length" class="audio_length tips_global"></span>
                                                        <span id="audio_progress" class="progress_bar" style="width: 0%;"></span>
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                        <div class="layim-chat-footer">
                            <div class="layim-chat-send">
                                <input type="text" autocomplete="off" v-model="message">
                                <button class="layim-send layui-disabled" @click="sendMessage">发送</button>
                            </div>
                            <div class="layim-chat-tool">
                                <span class="icon icon-home" title="选择表情" @click="showFace"></span>
                                <span class="icon icon-home" title="上传图片" id="filePicker"></span>
                                <!-- <span class="icon icon-home" title="发送文件" @click="showFace1"></span> -->
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="layui-m-layermain">
                    <div class="layui-m-layersection">
                        <div class="layui-m-layerchild layim-layer layui-m-anim-scale" v-if="face_box">
                            <div class="layui-m-layercont">
                                <ul class="layui-layim-face">
                                    {volist name="face" id="vo"}
                                        <li title="{$vo.title}" face-id="{$vo.id}" @click="chooseFace('{$vo.title}', $event)"><img src="{:get_file_path($vo['icon'])}"></li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{/block}

{block name="script"}
    <script type='text/javascript' src='__MODULE_JS__/weixinAudio.js' charset='utf-8'></script>
    <script>
        var msg_type = 'sendMessage';
        // 循环商家列表
        var im = new Vue({
            el: '#im', 
            data: {
                mid: "{$mid}",
                page: 1,
                noMore: 0,
                items: {$result},
                face_box: false,
                message: '',
            },
            methods: {
                showFace: function(){
                    this.face_box = this.face_box ? false: true;
                },
                showMessage: function(data){
                    this.items = this.items.concat(data);
                },
                sendMessage: function(){
                    if(!this.message){
                        alert("消息不能为空");
                        return false;
                    }
                    // ajax获取信息
                    $.post("{:url('im/ajaxSendMessage')}", { mid: this.mid, message:this.message },function(data){
                        console.log(data)
                        if(data.code==1){
                            im.items = im.items.concat(data.info);
                            im.message = '';
                            im.face_box = false;
                            resetHeight();
                        }else{
                            alert(data.info);
                        }
                    },'json');
                },
                chooseFace: function(title, event){
                    this.message = this.message+title;
                },
            }
        })

        resetHeight = function(){
            var h = $(".layim-chat-main ul").height();
            $(".layim-chat-main").scrollTop(h);
        }

        resetHeight();

        // 修改了返回的对象,以前的无法接收
        var weixinAudioObj = $('.weixinAudio').weixinAudio();

        // 添加单一播放的逻辑
        $(".weixinAudio").on('click',function(event) {
            var currentIndex = $(this).attr("current");
            // 遍历所有对象，找到非当前点击，执行pause()方法;
            $.each(weixinAudioObj,function(i, el) {
                if(i != 'weixinAudio'+currentIndex){
                    el.pause();
                }
            });
        });

        // 初始化Web Uploader
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: '__MODULE_JS__/Uploader.swf',
            // 文件接收服务端。
            server: "{:url('ucenter/ajaxUploadImg')}",
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            fileNumLimit: 9, //最多8张
            fileSingleSizeLimit: 5 * 1024 * 1024, //最大5M
        });

        // 文件上传成功
        uploader.on( 'uploadSuccess', function( file, response) {
            console.log(response)
            // 显示loading
            $.showIndicator();
            $.post("{:url('im/ajaxSendImage')}", { mid: im.mid, image: response.id },function(data){
                // 隐藏loading
                $.hideIndicator();
                if(data.code==1){
                    im.items = im.items.concat(data.info);
                    resetHeight();
                }else{
                    alert(data.info)
                }
            },'json');
        });
    </script>
{/block}