{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/forum.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <header class="navbar">
                <div class="nav-wrap nav-wrap-left">
                    {if isset($member['avatar'])}
                        <a class="react" rel="nofollow" href="{:url('forum/space', array('id'=>$member['id']))}" external>
                            <img class="avatar" src="{:get_file_path($member['avatar'])}" alt="">
                        </a>
                    {else}
                        <a class="react" rel="nofollow" external>
                            <img class="avatar" src="__MODULE_IMG__/img1.jpg" alt="">
                        </a>
                    {/if}
                </div>
                <div class="nav-wrap-title">萌宠圈</div>
                <div class="nav-wrap nav-wrap-right">
                    <a class="react" rel="nofollow" href="{:url('forum/publish')}" external>
                        <span class="nav-btn">
                            <i class="icon my-icon-camera" style="font-size:1.5rem;"></i>
                        </span>
                    </a>
                </div>
            </header>
            <div class="header-box"></div>

            <div class="content banner">
                <div class="swiper-container" data-autoplay="5000" data-pagination=".swiper-banner">
                    <div class="swiper-wrapper">
                        {volist name="slider" id="vo"}
                            <div class="swiper-slide"><img width="100%" src="{:get_file_path($vo['cover'])}" alt=""></div>
                        {/volist}
                    </div>
                    <div class="swiper-banner"></div>
                </div>
            </div>


            <!-- 添加 class infinite-scroll 和 data-distaance -->
            <div class="scroll-box">
                <div class="content infinite-scroll" data-distance="0">
                    <div class="list-block content-list" id="forum">
                        <ul class="list-container">
                            <template v-for="(item, item_i) in forums">
                                <li>
                                    <div class="item-top">
                                        <a :href="item.url" external><img :src="item.avatar" alt=""></a>
                                        <div class="item-top-box">
                                            <p class="name">{{item.nickname}}</p>
                                            <!-- <p><span>金毛犬</span> | <span>3个月</span></p> -->
                                        </div>
                                        <span class="time">{{item.date}}</span>
                                    </div>
                                    <div class="con">{{item.content}}</div>
                                    <div class="images">
                                        <template v-for="(img, index) in item.images">
                                            <div @click="showImages(item_i, index)" class="img-item" :style="{ backgroundImage: 'url('+img+')'}"></div>
                                        </template>
                                    </div>
                                    <div class="item-bottom">
                                        <span class="site" v-if="item.location">{{item.location}}</span>
                                        <!-- <p class="comment"><i class="icon my-icon-comment"></i><span>100</span></p> -->
                                        <p class="enjoy" @click="favorite(item_i)"><i class="icon my-icon-heart" :class="item.is_favorite ? 'is_favorite' : ''"></i><span>{{item.favorite}}</span></p>
                                    </div>
                                </li>
                            </template>
                        </ul>
                        <p v-if="isEmptyObject(forums)" class="no-data">暂无数据</p>
                        <p class="no-more" v-if="noMore==1 ? true : false">没有更多信息</p>
                    </div>
                </div>
            </div>

            {include file="public/nav" /}

        </div>
    </div>
{/block}

{block name="script"}
    <script>

        var forum = new Vue({
            el: '#forum', 
            data: {
                page: 2,
                forums: {$forums},
                noMore: 0,
            },
            methods: {
                concatData: function(data){
                    this.forums = this.forums.concat(data);
                    this.page++;
                },
                showImages: function(id, index){
                    var photos = this.forums[id].images;
                    var myPhotoBrowserStandalone = $.photoBrowser({photos : photos, initialSlide : index, loop: true});
                    myPhotoBrowserStandalone.open();
                },
                isEmptyObject: function(e){
                    var t;  
                    for (t in e)  
                        return !1;  
                    return !0 
                },
                favorite: function(id){
                    $.get("{:url('forum/ajaxFavorite')}", { id: forum.forums[id].id },function(data){
                        if(data.code==1){
                            forum.forums[id].is_favorite = data.info;
                            if(data.info==0){
                                forum.forums[id].favorite -= 1;
                            }else{
                                forum.forums[id].favorite += 1;
                            }
                        }else{
                            alert(data.info);
                        }
                    }, 'json');
                },
            }
        })

        $(document).on('infinite', '.infinite-scroll',function() {
            // ajax获取信息
            $.get("{:url('forum/ajaxGetFourmList')}", { page: forum.page },function(data){
                if(data==1){
                    forum.noMore = 1;
                }else{
                    forum.concatData(data);
                }
            }, 'json');
        });
    </script>
{/block}