{extend name="public:layout" /}

{block name="style"}
    <link rel="stylesheet" href="__MODULE_CSS__/webuploader.css">
    <link rel="stylesheet" href="__MODULE_CSS__/publish.css">
{/block}

{block name="main"}
    <div class="page-group">
        <div class="page">

            <div class="container" id="publish">

                <header>
                    <div class="head-left fl"><a href="javascript:history.go(-1);" external>取消</a></div>
                    <div class="head-right fr"><a external @click="sendMsg">发送</a></div>
                </header>
                
                <textarea name="content" placeholder="写下此刻的心情..." class="forum-content" v-model="content"></textarea>
                
                <div class="upload-images">
                    <ul class="upload-images-box">
                        <li id="filePicker"></li>
                    </ul>
                </div>
                <p class="location">
                    <i class="icon my-icon-location1"></i>
                    {{location?location:'所在位置'}}
                </p>
                
            </div>
            

        </div>
    </div>
{/block}

{block name="script"}
    <script>

        var publish = new Vue({
            el: '#publish',
            data: {
                lng: 0,
                lat: 0,
                location: '',
                content: '',
            },
            methods: {
                sendMsg: function(){
                    if(!this.content){
                        alert("内容不能为空");
                        return false;
                    }
                    var imgs = '';
                    $(".upload-images-box li").each(function(){
                        if($(this).attr("data-id")){
                            imgs += $(this).attr("data-id")+',';
                        }
                    })
                    // 显示loading
                    $.showIndicator();
                    // ajax获取信息
                    $.post("{:url('forum/ajaxSendMsg')}", { lng: this.lng, lat:this.lat, location:this.location, content:this.content, imgs:imgs },function(data){
                        // 隐藏loading
                        $.hideIndicator();
                        alert(data.info)
                        if(data.code==1){
                            location.reload();
                            window.location.href = "{:url('forum/space', array('id'=>session('member_auth.member_id')))}"
                        }
                    },'json');
                },
            },
        })

        // 注入JSSDK配置参数，默认开启所有接口权限
        wx.config({$options});

        wx.ready(function () {
            updateLocation();
        });

        updateLocation = function(){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var convertor = new BMap.Convertor();
                    var pointArr = [];
                    pointArr.push(new BMap.Point(res.longitude,res.latitude));
                    convertor.translate(pointArr, 1, 5, translateCallback);
                }
            });
        };
        translateCallback = function (data){
            console.log(data);
            if(data.status === 0) {
                publish.lng = data.points[0].lng;
                publish.lat = data.points[0].lat;
                $.post("{:url('index/ajaxUpdateLocation')}", { lng:data.points[0].lng, lat:data.points[0].lat});
                //转坐标为地址
                var geoc = new BMap.Geocoder();
                var pt = new BMap.Point(data.points[0].lng, data.points[0].lat);
                geoc.getLocation(pt, function(rs){
                    var addComp = rs.addressComponents;
                    var address = addComp.province + " " + addComp.city + " " + addComp.district + " " + addComp.street + " " + addComp.streetNumber;
                    publish.location = address;
                });
            } 
        }

        //删除图片
        $(document).on('click', '.img-delete',function() {
            $(this).parent().remove();
        });

        $(function(){

            // 初始化Web Uploader
            var uploader = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: true,
                // swf文件路径
                swf: '__MODULE_JS__/Uploader.swf',
                // 文件接收服务端。
                server: "{:url('ucenter/ajaxUploadImg')}",
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',
                // 只允许选择图片文件。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                },
                fileNumLimit: 9, //最多8张
                fileSingleSizeLimit: 5 * 1024 * 1024, //最大5M
            });
            // 当有文件添加进来的时候
            uploader.on( 'fileQueued', function( file ) {
                // console.log(file)
                var $li = $('<li id="'+file.id+'"><img><span class="img-delete icon my-icon-cancel"></span></li>');
                // $list为容器jQuery实例
                $(".upload-images-box").prepend( $li );
                // 创建缩略图
                // 如果为非图片文件，可以不用调用此方法。
                // thumbnailWidth x thumbnailHeight 为 100 x 100
                uploader.makeThumb( file, function( error, src ) {
                    if ( error ) {
                        $("#"+file.id+" img").replaceWith('<span>不能预览</span>');
                        return;
                    }
                    $("#"+file.id+" img").attr( 'src', src );
                });
            });
            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            uploader.on( 'uploadSuccess', function( file, response) {
                // console.log(response)
                $( '#'+file.id ).attr( 'data-id', response.id );
            });
            //上传错误
            uploader.on( 'error', function( error ) {
                console.log(error)
                if(error=='Q_EXCEED_NUM_LIMIT'){
                    alert("最多允许添加8张图片");
                }
                if(error=='Q_EXCEED_SIZE_LIMIT'){
                    alert("文件大小不能大于5M");
                }
                if(error=='Q_TYPE_DENIED'){
                    alert("只能上传图片类型的文件")
                }
            });
            uploader.on( 'uploadError', function( file ) {
                console.log(file)
            });
        })
    </script>
{/block}