#nav-top .button-link{
    color:#f9b831;
}
.refund-show{
    margin-top:2.2rem;
}
.refund-show img{
    display:block;
}
.refund-box{
    padding:.8rem 0;
}
.refund-box p{
    color:#221814;
    font-size:.7rem;
    border-bottom: 1px solid #e7e7e7;
    padding:.5rem 1rem;
    position: relative;
}
.refund-box p .number{
    color:#eb666a;
    float:right;
    position: absolute;
    top:.2rem;
    right:.5rem;
}
.refund-box p .number i{
    font-size:1rem;
    font-weight: bold;
}
.comment-content{
    color:#898989;
}