body, .page, .page-group, .page-group.page-current, .page.page-current{
    background: #efefef;
}
#nav-top{
    background:#fff ;
}
#nav-top .button-link{
    color:#f9b831;
}
.order-box{
    margin-top:2.5rem;
}
.tabs {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    /*position: relative;*/
    background: white;
    border-bottom: 1px solid #d0d0d0;
    padding:0 2rem;
    position: fixed;
    width: 100%;
}
.tabs a{
    margin:0 .5rem;
}
.tabs .button.active {
    z-index: 100;
    color: #0894ec;
    border-color: #0894ec;
}
.tabs .button {
    bottom: -1px;
    width: 100%;
    height: 2rem;
    font-size: .8rem;
    line-height: 2rem;
    color: #5f646e;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}
.button.active, .button.active:active {
    color: #0a8ddf;
    border-color: #0a8ddf;
}
.button {
    position: relative;
    display: block;
    height: 1.35rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0 .5rem;
    margin: 0;
    font-family: inherit;
    font-size: .7rem;
    line-height: 1.25rem;
    color: #0894ec;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    border: 1px solid #0894ec;
    border-radius: .25rem;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.tabs .button.active{
    color:#f9b831;
    border-color: #f9b831;
}
.tabs .button{
    border-bottom: 3px solid transparent;
}
.content-block{
    margin:0;
}
.list-block{
    margin:0;
}
.order-content{
    background: #efefef;
    margin-top:5rem;
    padding:0;
    font-size: .6rem;
}
.order-content ul{
    background: #efefef;
}
.order-content ul li a{
    color:#5f646e;
}
.order-content ul li a{
    color:#5f646e;
}
.order-content .list-item{
    height:10.5rem;
    padding:0;
    margin-bottom:.5rem;
    background: #fff;
}
.order-content .list-item .list-item-top{
    height:2rem;
    line-height:2rem;
    border-bottom: 1px solid #e7e7e7;
    padding-left:1rem;
    padding-right: 1.5rem;
    background-image: url(../img/i-list-chevron-right.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .5rem) center;
    background-position: calc(100% - .5rem) center;
    background-size: .7rem;
}
.order-content .list-item .list-item-top i{
    font-size:1.2rem;
    margin-right:.3rem;
}
.order-content .list-item .list-item-top span{
    font-size:1rem;
    vertical-align: middle;
}
.order-content .list-item .list-item-content{
    margin:.8rem 1rem;
    position: relative;
}
.order-content .list-item .list-item-content img{
    width:6rem;
    height:5rem;
    margin-right:.5rem;
    float:left;
}
.list-item-content .amount{
    position: absolute;
    text-decoration:line-through;
    font-size:.8rem;
    font-weight: bold;
    color:#898889;
    top:1.5rem;
    right: 0;
}
.list-item-content .price{
    position: absolute;
    font-size:1.2rem;
    color:#ec666a;
    font-weight: bold;
    top:0;
    right: 0;
}
.order-button-list{
    margin-top:.5rem;
}
.order-button-list span{
    width:4.5rem;
    height:1.4rem;
    line-height:1.4rem;
    text-align:center;
    float:right;
    display:inline-block;
    border-radius: 2.25rem;
    margin-left:1rem;
    border:1px solid #888;
    color:#888;
}
.order-button-list .on-button{
    border:1px solid #f9b700;
    color:#f9b700;
}
.order-button-list .on-button a{
    color:#f9b700;
}
.order-cancel .cancel-img{
    width:5rem;
    margin:.5rem auto;
}
.order-cancel .cancel-img img{
    width:100%;
    border:none;
}
.order-cancel p{
    font-size:.8rem;
    margin-bottom:.5rem;
    text-align:center;
    color:#898989;
}

.order-cancel .button{
    border:1px solid #f8b319;
    font-size:1rem;
}
.order-cancel .modal-success-button{
    background: #f8b319;
    color:#fff;
}
.order-cancel .modal-cancel-button{
    color:#f8b319;
}

.no-data img{
    width:40%;
    margin:5rem 30%;
}

.nav-wrap-title{
    color:#f9b831;
}