#route{
    width:100%;
    position: absolute;
    top:2.5rem;
    bottom:5rem;
    left:0;
    overflow: hidden;
}
#allmap{
    height:100%;
    width:100%;
}
.route-button{
    position: absolute;
    bottom:3rem;
    width:5rem;
    height:1.5rem;
    text-align:center;
    line-height:1.5rem;
    border-radius: .2rem;
    font-size:.7rem;
}
.route-button i{
    margin-right:.2rem;
}
.position{
    left:1rem;
    background:#F7B218;
    color:#fff;
}
.route{
    right:1rem;
    background:#EB666A;
    color:#fff;
}
.BMap_Marker img{
    width:40px;
    height:40px;
    border-radius: 50%;
}